footer.footer
  p.footer__title Samir
  .footer__social
    a.footer__icon(href='https://www.facebook.com/samirquluzadeh2001')
      i.bx.bxl-facebook-circle
    a.footer__icon(href='https://www.instagram.com/samir_guluzadeh/')
      i.bx.bxl-instagram
    a.footer__icon(href='https://api.whatsapp.com/send?phone=0558735810&text=Salam')
      i.bx.bxl-whatsapp
    a.footer__icon(href='https://t.me/samirquluzadeh')
      i.bx.bxl-telegram
  p © 2021 all right reserved!