header.header-1
  nav.nav.bd-grid
    div
      a.nav__logo(href='#home') Samir
    .nav__menu#nav-menu
      ul.nav__list
        li.nav__item
          a.nav__link.active(href='#home') Home
        li.nav__item
          a.nav__link(href='#about') About
        li.nav__item
          a.nav__link(href='#skills') Skills
        li.nav__item
          a.nav__link(href='#portfolio') Portfolio
        li.nav__item
          a.nav__link(href='#contact') Contact
    .nav__toggle#nav-toggle
      i.bx.bx-menu