doctype html 
html 
    head 
        block head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        link(rel="shortcut icon" href="/images/samir.jpg")
        link(rel='stylesheet' href='/css/style.css')
        link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css')
        link(href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css', rel='stylesheet')
        script(src='https://unpkg.com/scrollreveal')
        title Welcome To My Portfolio
    body
        //Header
        include _header

        //Content
        block content
            h1 This is a placeholder heading
        //Footer
        include _footer
        
        script(src='/js/bundle.js')
        